.div-login{
    legend{
        text-align: center;
        color: #0ea421d9;
        font-weight: 500
    }

    h6{
        text-align: center;
        color: #0087ff;
        cursor: pointer;
        outline: none;
    }
}