<div class="d-flex flex-row flex-wrap justify-content-center full-width full-height pt-4 pb-4">
    <div class="d-flex flew-row justify-content-start col-11 mb-2" style="height: 6%">
        <button class="btn btn-primary" (click)="createNewCarYard(contentNewCarYard)">
            Novo Pátio
            <i class="fa fa-car"></i>
        </button>
    </div>
    <div class="card col-11" style="height: 94%">
        <div class="card-body">
            <ngb-tabset>
                <!-- <ngb-tab *ngFor="let carYard of listCarYard" >
                    <ng-template ngbTabTitle>{{carYard.description}}</ng-template>
                     <ng-template ngbTabContent>
                       {{carYard.description}}
                    </ng-template>
                </ngb-tab> -->
                <ngb-tab *ngFor="let item of listCarYard"
                    title="{{'Pátio ' + item.carYard.description + ' (' + item.carYard.id + ')'}}">
                    <ng-template ngbTabContent>
                        <div class="d-flex flex-row flex-wrap justify-content-center mt-2"
                            style="overflow: auto; max-height: 500px">
                            <div style="border: thick  groove  #bacc0082; height: 200px;"
                                [ngStyle]="{'background': !spaces.occupied ? '#c5c5c5f2' : 'green'}"
                                *ngFor="let spaces of carYardListSpaces(item) | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
                                class="col-3 d-flex flex-row flex-wrap justify-content-center">

                                <div class="d-flex flex-row flex-wrap justify-content-start col-12">
                                    <h6 style="font-size: 30px; color: #9f9f9f">{{spaces.numberSpace}}</h6>
                                </div>
                                <div class="d-flex flex-row flex-wrap justify-content-center col-12">
                                    <i class="fa fa-ban col-12" style="font-size: 120px; color: #9f9f9f;     text-align: center;
                                    "></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-row flex-wrap justify-content-center mt-4">
                            <ngb-pagination [collectionSize]="carYardListSpaces(item).length" [(page)]="page"
                                [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false"
                                [boundaryLinks]="true"></ngb-pagination>
                        </div>
                    </ng-template>

                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
</div>

<ng-template #contentNewCarYard let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Criar Novo Pátio</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCarYard">
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group col-8">
                    <label class="label-form-group" for="description">
                        <i class="fa fa-list-alt"></i> Descrição
                    </label>
                    <input type="text" id="description" name="description" class="form-control"
                        formControlName="description">
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <div class="form-group col-8">
                    <label class="label-form-group" for="rate">
                        <i class="fa fa-money"></i>
                        Taxa
                    </label>
                    <input type="number" step='0.01' id="rate" name="rate" class="form-control" formControlName="rate">
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="form-group col-8">
                    <label class="label-form-group" for="carSpaces">
                        <i class="fa fa-table"></i> Nº de Vagas
                    </label>
                    <input type="number" step="1" id="carSpaces" name="carSpaces" class="form-control"
                        formControlName="carSpaces">
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(false)">Cancelar</button>
        <button type="button" class="btn btn-success" (click)="modal.close(true)"
            [disabled]="!formCarYard.valid">Registrar</button>
    </div>
</ng-template>