table {
  thead {
    th {
      color: #1486bdd9;
      text-align: center
    }
  }
  tbody {
    td {
      div {
        text-align: center;
        color: #767676;
        height: 60px;
      }
    }
  }
}
