.toolbar{
    h5{
        margin-bottom: 0px;
        color: #0ea421d9
    }

    i, h6 {
        color: #acacac;
    }

    i{
        font-size: 30px;
        cursor: pointer;
        outline: none
    }
}